In [13]:
import pandas as pd
# import numpy as np
# import matplotlib.pyplot as plt
# from sklearn.linear_model import LinearRegression
# from sklearn.model_selection import train_test_split

In [17]:
df_crime_stats = pd.read_csv('./arrests_national_juvenile.csv')
df_crime_stats.head()

,id,year,state_abbr,offense_code,offense_name,agencies,population,total_male,total_female,m_0_9,...,f_13_14,f_15,f_16,f_17,race_agencies,race_population,white,black,asian_pacific_islander,american_indian
0,1081,2016,NaN,ASR_ARSON,Arson,13310,264534532,1760,328,117.0,...,114.0,66.0,39.0,43,12581,263887632,1436,516,41.0,48.0
1,1082,2016,NaN,ASR_AST,Aggravated Assault,13310,264534532,16997,5918,141.0,...,1565.0,1171.0,1337.0,1361,12581,263887632,12370,9736,296.0,364.0
2,1083,2016,NaN,ASR_AST_SMP,Simple Assault,13310,264534532,66360,38712,1043.0,...,11210.0,8036.0,8264.0,7590,12581,263887632,59778,41923,1130.0,1378.0
3,1084,2016,NaN,ASR_BRG,Burglary,13310,264534532,23307,3071,167.0,...,727.0,618.0,689.0,833,12581,263887632,14413,11082,368.0,362.0
4,1085,2016,NaN,ASR_CUR,Curfew and Loitering Law Violations,13310,264534532,19218,8319,110.0,...,1991.0,1887.0,2267.0,1701,12581,263887632,15468,11045,382.0,429.0

In [19]:
df_crime_stats.info

<bound method DataFrame.info of        id  year  state_abbr offense_code                         offense_name  \
0    1081  2016         NaN    ASR_ARSON                                Arson
1    1082  2016         NaN      ASR_AST                   Aggravated Assault
2    1083  2016         NaN  ASR_AST_SMP                       Simple Assault
3    1084  2016         NaN      ASR_BRG                             Burglary
4    1085  2016         NaN      ASR_CUR  Curfew and Loitering Law Violations
..    ...   ...         ...          ...                                  ...
685   446  1994         NaN      ASR_STP                      Stolen Property
686   447  1994         NaN      ASR_SUS                            Suspicion
687   448  1994         NaN      ASR_VAG                             Vagrancy
688   449  1994         NaN      ASR_VAN                            Vandalism
689   450  1994         NaN     ASR_WEAP                              Weapons

     agencies  population  total_male  total_female   m_0_9  ...  f_13_14  \
0       13310   264534532        1760           328   117.0  ...    114.0
1       13310   264534532       16997          5918   141.0  ...   1565.0
2       13310   264534532       66360         38712  1043.0  ...  11210.0
3       13310   264534532       23307          3071   167.0  ...    727.0
4       13310   264534532       19218          8319   110.0  ...   1991.0
..        ...         ...         ...           ...     ...  ...      ...
685     10713   208091172       32205          4105   211.0  ...   1150.0
686     10713   208091172        1389           330    30.0  ...     99.0
687     10713   208091172        2979           683    15.0  ...    206.0
688     10713   208091172      110175         12616  5621.0  ...   4161.0
689     10713   208091172       48128          4235   562.0  ...   1451.0

       f_15    f_16  f_17  race_agencies  race_population  white  black  \
0      66.0    39.0    43          12581        263887632   1436    516
1    1171.0  1337.0  1361          12581        263887632  12370   9736
2    8036.0  8264.0  7590          12581        263887632  59778  41923
3     618.0   689.0   833          12581        263887632  14413  11082
4    1887.0  2267.0  1701          12581        263887632  15468  11045
..      ...     ...   ...            ...              ...    ...    ...
685   905.0   937.0   863          10282        207684879  21242  14077
686    76.0    64.0    58          10282        207684879   1171    521
687   143.0   159.0   149          10282        207684879   2599   1010
688  2272.0  2050.0  1864          10282        207684879  98391  20722
689   878.0   782.0   687          10282        207684879  32308  18786

     asian_pacific_islander  american_indian
0                      41.0             48.0
1                     296.0            364.0
2                    1130.0           1378.0
3                     368.0            362.0
4                     382.0            429.0
..                      ...              ...
685                   587.0            364.0
686                     5.0             22.0
687                    40.0             13.0
688                  2073.0           1257.0
689                   846.0            380.0

[690 rows x 27 columns]>

In [20]:
df_crime_stats.describe

<bound method NDFrame.describe of        id  year  state_abbr offense_code                         offense_name  \
0    1081  2016         NaN    ASR_ARSON                                Arson
1    1082  2016         NaN      ASR_AST                   Aggravated Assault
2    1083  2016         NaN  ASR_AST_SMP                       Simple Assault
3    1084  2016         NaN      ASR_BRG                             Burglary
4    1085  2016         NaN      ASR_CUR  Curfew and Loitering Law Violations
..    ...   ...         ...          ...                                  ...
685   446  1994         NaN      ASR_STP                      Stolen Property
686   447  1994         NaN      ASR_SUS                            Suspicion
687   448  1994         NaN      ASR_VAG                             Vagrancy
688   449  1994         NaN      ASR_VAN                            Vandalism
689   450  1994         NaN     ASR_WEAP                              Weapons

     agencies  population  total_male  total_female   m_0_9  ...  f_13_14  \
0       13310   264534532        1760           328   117.0  ...    114.0
1       13310   264534532       16997          5918   141.0  ...   1565.0
2       13310   264534532       66360         38712  1043.0  ...  11210.0
3       13310   264534532       23307          3071   167.0  ...    727.0
4       13310   264534532       19218          8319   110.0  ...   1991.0
..        ...         ...         ...           ...     ...  ...      ...
685     10713   208091172       32205          4105   211.0  ...   1150.0
686     10713   208091172        1389           330    30.0  ...     99.0
687     10713   208091172        2979           683    15.0  ...    206.0
688     10713   208091172      110175         12616  5621.0  ...   4161.0
689     10713   208091172       48128          4235   562.0  ...   1451.0

       f_15    f_16  f_17  race_agencies  race_population  white  black  \
0      66.0    39.0    43          12581        263887632   1436    516
1    1171.0  1337.0  1361          12581        263887632  12370   9736
2    8036.0  8264.0  7590          12581        263887632  59778  41923
3     618.0   689.0   833          12581        263887632  14413  11082
4    1887.0  2267.0  1701          12581        263887632  15468  11045
..      ...     ...   ...            ...              ...    ...    ...
685   905.0   937.0   863          10282        207684879  21242  14077
686    76.0    64.0    58          10282        207684879   1171    521
687   143.0   159.0   149          10282        207684879   2599   1010
688  2272.0  2050.0  1864          10282        207684879  98391  20722
689   878.0   782.0   687          10282        207684879  32308  18786

     asian_pacific_islander  american_indian
0                      41.0             48.0
1                     296.0            364.0
2                    1130.0           1378.0
3                     368.0            362.0
4                     382.0            429.0
..                      ...              ...
685                   587.0            364.0
686                     5.0             22.0
687                    40.0             13.0
688                  2073.0           1257.0
689                   846.0            380.0

[690 rows x 27 columns]>

In [24]:
df_crime_stats['datetime'] = pd.to_datetime(df_crime_stats['year'], errors='ignore')
df_crime_stats

,id,year,state_abbr,offense_code,offense_name,agencies,population,total_male,total_female,m_0_9,...,f_15,f_16,f_17,race_agencies,race_population,white,black,asian_pacific_islander,american_indian,datetime
0,1081,2016,NaN,ASR_ARSON,Arson,13310,264534532,1760,328,117.0,...,66.0,39.0,43,12581,263887632,1436,516,41.0,48.0,1970-01-01 00:00:00.000002016
1,1082,2016,NaN,ASR_AST,Aggravated Assault,13310,264534532,16997,5918,141.0,...,1171.0,1337.0,1361,12581,263887632,12370,9736,296.0,364.0,1970-01-01 00:00:00.000002016
2,1083,2016,NaN,ASR_AST_SMP,Simple Assault,13310,264534532,66360,38712,1043.0,...,8036.0,8264.0,7590,12581,263887632,59778,41923,1130.0,1378.0,1970-01-01 00:00:00.000002016
3,1084,2016,NaN,ASR_BRG,Burglary,13310,264534532,23307,3071,167.0,...,618.0,689.0,833,12581,263887632,14413,11082,368.0,362.0,1970-01-01 00:00:00.000002016
4,1085,2016,NaN,ASR_CUR,Curfew and Loitering Law Violations,13310,264534532,19218,8319,110.0,...,1887.0,2267.0,1701,12581,263887632,15468,11045,382.0,429.0,1970-01-01 00:00:00.000002016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,446,1994,NaN,ASR_STP,Stolen Property,10713,208091172,32205,4105,211.0,...,905.0,937.0,863,10282,207684879,21242,14077,587.0,364.0,1970-01-01 00:00:00.000001994
686,447,1994,NaN,ASR_SUS,Suspicion,10713,208091172,1389,330,30.0,...,76.0,64.0,58,10282,207684879,1171,521,5.0,22.0,1970-01-01 00:00:00.000001994
687,448,1994,NaN,ASR_VAG,Vagrancy,10713,208091172,2979,683,15.0,...,143.0,159.0,149,10282,207684879,2599,1010,40.0,13.0,1970-01-01 00:00:00.000001994
688,449,1994,NaN,ASR_VAN,Vandalism,10713,208091172,110175,12616,5621.0,...,2272.0,2050.0,1864,10282,207684879,98391,20722,2073.0,1257.0,1970-01-01 00:00:00.000001994
689,450,1994,NaN,ASR_WEAP,Weapons,10713,208091172,48128,4235,562.0,...,878.0,782.0,687,10282,207684879,32308,18786,846.0,380.0,1970-01-01 00:00:00.000001994

In [25]:
crimes = df_crime_stats['offense_name'].values
crimes

NameError: name 'df' is not defined